<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"
      integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h1>실습1. axios get 회원가입</h1>
    <form name="register" id="register">
      <label for="username">이름</label>
      <input type="text" id="username" name="username" />
      <br />
      <fieldset>
        <legend>성별</legend>
        <input type="radio" name="gender" id="male" value="남자" />
        <label for="male">남자</label>
        <input type="radio" name="gender" id="female" value="여자" />
        <label for="female">여자</label>
      </fieldset>
      <br />
      <fieldset>
        <legend>생년월일</legend>
        <select name="birthYear" id="year">
          <% for(let i = 1990; i <= 2000; i++) { %>
          <option value="<%= i %>"><%= i %></option>
          <% } %>
        </select>
        <label for="year">년</label>
        <select name="birthMonth" id="month">
          <% for(let i = 1; i <= 12; i++) { %>
          <option value="<%= i %>"><%= i %></option>
          <% } %>
        </select>
        <label for="month">월</label>
        <select name="birthDay" id="day">
          <% for(let i = 1; i <= 31; i++) { %>
          <option value="<%= i %>"><%= i %></option>
          <% } %>
        </select>
        <label for="day">일</label>
      </fieldset>
      <br />
      <fieldset>
        <legend>관심사</legend>
        <input type="checkbox" name="hobby" id="travel" value="여행" />
        <label for="travel">여행</label>
        <input type="checkbox" name="hobby" id="fashion" value="패션" />
        <label for="fashion">패션</label>
        <input type="checkbox" name="hobby" id="food" value="음식" />
        <label for="food">음식</label>
      </fieldset>
      <br />
      <button type="button" onclick="axiosGet()">axios Get으로 제출</button>
    </form>
    <div class="result"></div>
    <script>
      const resultBox = document.querySelector(".result");
      function axiosGet() {
        console.log("axio get");
        const form = document.forms["register"];
        const formId = document.getElementById("register");

        const hobby = [];
        const checked = formId.querySelectorAll(
          'input[type="checkbox"]:checked'
        );
        checked.forEach((elem) => {
          hobby.push(elem.value);
        });
        console.log("hobby", hobby);

        const data = {
          name: form.username.value,
          gender: form.gender.value,
          birthYear: form.birthYear.value,
          birthMonth: form.birthMonth.value,
          birthDay: form.birthDay.value,
          hobby,
          // hobby: [...form.querySelectorAll('input[name="hobby"]:checked')].map(
          //   (el) => el.value
          // ),
        };
        axios({
          method: "get",
          url: "/axios",
          params: data,
        }).then((res) => {
          console.log(res);
          console.log(res.data);
          resultBox.textContent = `axios / GET 요청 완료! 이름: ${res.data.name} 성별: ${res.data.gender} 생년월일: ${res.data.birthYear}년${res.data.birthMonth}월${res.data.birthDay}일 관심사: ${res.data.hobby}`;
          resultBox.style.color = "green";
        });
      }
    </script>
  </body>
</html>
